In [2]:
# loading sql extension
%load_ext sql

In [103]:
# remove before push to github
%sql mysql://USERNAME:PASSWORD@ENDPOINT:PORT/impossible_foods

'Connected: admin@impossible_foods'

### Updated Proposal:
I am going to help Impossible Foods improve their current product, and determine which markets they should target for any new products or product updates that they release.

# Part 1: Exploratory Queries

### Exploratory Query 1
Question: Are there specific demographics of people who are not vegetarian / vegan? AKA: would not rely on a meat alternative for their primary meal?

Purpose: Want to see which demographics do not at all rely on our products as meal / protein replacements.

In [32]:
%%sql
SELECT *
FROM diets
WHERE Vegan LIKE '0%'
    OR Vegetarian LIKE '0%';

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
1 rows affected.

[('65+', '83% ?', '2% ?', '3%', '0% ?', '3%', '9%')]

Findings: There are no vegans or vegetarians over the age of 65 in sampled group

Recommendation: Targeting older populations (over 65) is likely a waste of resources.

### Exploratory Query 2
Question: Which demographic categories from the survey are most curous of our product?

Purpose: See which demographics are likely to try our products if offered free samples.

In [50]:
%%sql
SELECT Demographics, `Heard about and curious`
FROM motivations
ORDER BY `Heard about and curious` DESC
LIMIT 5;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
5 rows affected.

[('Non-college', '.38'),
 ('65+', '.34'),
 ('Hispanic/ Latinx', '.33'),
 ('Midwest', '.33'),
 ('Women', '.31')]

Findings: Non college students of college age, 65+, Hispanic / Latinx populations, Midwesterners, and women are most curious of our product.

Recommendation: Offer samples of our product in areas where one or all of the aforementioned demographics are populous. If they like are product they may continue buying it.

### Exploratory Query 3
Question: Which demographics appear to be trying to cut out/ down on meat consumption?

Purpose: Target ads towards these markets as: our products let you cut down meat, while maintaining a similar flavor and cooking experience.

In [47]:
%%sql
SELECT Demographics, `Trying to eat less meat`
FROM motivations
ORDER BY `Trying to eat less meat` DESC;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
15 rows affected.

[('45-64', '.33'),
 ('South', '.32'),
 ('White', '.30'),
 ('Midwest', '.30'),
 ('Non-college', '.28'),
 ('Total', '.27'),
 ('Men', '.27'),
 ('Women', '.27'),
 ('College', '.27'),
 ('Hispanic/ Latinx', '.25'),
 ('Under 45', '.25'),
 ('65+', '.25'),
 ('Northeast', '.25'),
 ('West', '.23'),
 ('African American', '.15')]

Findings: People ages 45-64, Southerners, White people, and people in the midwest have a high percentage of their population attempting to eat less meat. 

Recommendation: Target these demographics with ad campaigns focused on Impossible products as meat substitutes.

### Exploratory Query 4
Question: What plant-based product is higher than the average in protein, but lower than the average in carbohydrates? 


Purpose: We would like to see if there are any plant based alternatives that are better than our pattys in these categories.

In [45]:
%%sql
SELECT AVG(protein) AS avg_protein
FROM nutrition;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
1 rows affected.

[(Decimal('28.0500'),)]

In [44]:
%%sql
SELECT AVG(total_carbohydrates) AS avg_carbs
FROM nutrition;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
1 rows affected.

[(Decimal('34.2000'),)]

In [46]:
%%sql
SELECT 
    item, 
    brand, 
    calories,
    total_fat,
    total_carbohydrates,
    total_sugars,
    protein,
    (
        SELECT AVG(protein)
        FROM nutrition
    ) AS avg_protein,
    (
        SELECT AVG(total_carbohydrates)
        FROM nutrition
    ) AS avg_carbs
FROM nutrition
WHERE (protein > 
    (
        SELECT AVG(protein)
        FROM nutrition
    )
    AND total_carbohydrates <
    (
        SELECT AVG(total_carbohydrates)
        FROM nutrition
    ));

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
2 rows affected.

[('Impossible Burger', 'Wahlburgers', 490, 33, 14, 5, 32, Decimal('28.0500'), Decimal('34.2000')),
 ('The Impossible Burger', 'Wahlburgers', 490, 33, 14, 5, 32, Decimal('28.0500'), Decimal('34.2000'))]

Findings: The Wahlburger patty is the "most nutritious" in terms of protein and carbs, possibly due to extra toppings added in restaurant. 

Recommendation: (If want to increase nutrition on labels) Consider creating a patty package: plant-based meat, cheese, bun and advertise total protein and / or total carbs on front of packaging to show how nutritious burger options are.

### Exploratory Query 5
Question: Which demographics believed our products would not taste good?

Purpose: We would like to see if we can turn those unwilling to even try our products, into lovers of it.

In [56]:
%%sql
SELECT AVG(`Thought it would taste good`) AS avg_taste_good
FROM motivations;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
1 rows affected.

[(0.25933333333333336,)]

In [69]:
%%sql
SELECT 
    Demographics,
    `Thought it would taste good`,
    (
        SELECT AVG(`Thought it would taste good`)
        FROM motivations
    ) AS avg_taste_good
FROM motivations
WHERE `Thought it would taste good` < 
    (
        SELECT AVG(`Thought it would taste good`)
        FROM motivations
    )
ORDER BY `Thought it would taste good`;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
5 rows affected.

[('65+', '.07', 0.25933333333333336),
 ('West', '.20', 0.25933333333333336),
 ('Men', '.22', 0.25933333333333336),
 ('Hispanic/ Latinx', '.22', 0.25933333333333336),
 ('Non-college', '.25', 0.25933333333333336)]

Findings: Very little 65+ people beleived our products would taste good. Men, Westerners, and Hispanic / Latinx people also did not believe it would taste good, but a significant amount less of them believed that than the 65+ category. 

Recommendation: If this is a market we would like to target, we can advertise to patients that are sensitive to cholestorol, have specific heart problems that prevents them from eating meat, or those with gout. We also have the option to partner with a hospital, and provide our meat substitution to those who have recently gone through heart related issues such as a heart attack.

# Part 2 - Primary Questions

Background: Impossible Foods yearly revenue is no longer increasing, we need to explore other possible customer bases and get them to try our product. The more customers that try our product and like it, the more people will buy our burger and help increase our revenue. Impossible wants to understand what people do not like about our products based on their diet preferences. 

-----------

Question 1: Which demographics dislike the taste of our products the most (top 2)? 

Reasoning: We need to know which audiences these are so we do not target them audiences in the future, unless we change or expand the flavor of our product(s).

In [115]:
%%sql
WITH hates_taste_ranking_CTE AS (
    SELECT 
        d.Demographics,
        Omnivore,
        Vegetarian, 
        Pescatarian,
        Vegan
        `Some Vegetarian`,
        d.Other,
        did_not_like_taste,
        did_not_taste_like_meat,
        DENSE_RANK() OVER(
            ORDER BY did_not_like_taste DESC
        ) AS hates_taste 
    FROM diets d
    JOIN negative_reactions n
        ON d.Demographics = n.Demographics
)
SELECT *
FROM hates_taste_ranking_CTE
WHERE hates_taste <= 2;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
2 rows affected.

[('Midwest', '.71', '.08', '.02', '.02', '.13', '.26', '.22', 1),
 ('45-64', '.69', '.05', '.04', '.03', '.13', '.22', '.15', 2)]

Findings: Midwesterners have hated the taste of our products the most, and 71% of those sampled are Omnivore. 45-64 year olds also dislike the close to as much as the Midwest population sampled. The runner up are also primarily omnivores, so they are likely to give a closer comparison to actual meat, than vegans, vegetarians, and pescatarians. 

Recommmendation: Further sample these populations to see exactly what they did not like about the taste of the burgers. Consider suggestions and possibly release a new line of burgers with those recommendations in mind (Option to release them in "slider" format so they are a different product and can be released and targeted to whole U.S., not just the Midwest and for 45-64 year olds).

-----------------------

Question 2: Which demographics, that are mostly omnivores (over 50%), like the texture AND taste of our products more than the average.

Reasoning: We plan to send out follow up survey to all / almost all groups surveyed, and would like to gain feedback from omnivores about what we are doing well in regards to taste and texture, since they have the most sensitive pallets for fake meat (as we found in the last question).

In [114]:
%%sql
SELECT 
    d.Demographics,
    Omnivore,
    liked_taste,
    texture_like_meat,
    (
        SELECT ROUND(AVG(liked_taste), 2)
        FROM positive_reactions
    ) AS avg_liked_taste,
    (
        SELECT ROUND(AVG(texture_like_meat), 2)
        FROM positive_reactions
    ) AS avg_texture_like_meat
FROM positive_reactions p
JOIN diets d
    ON p.Demographics = d.Demographics
WHERE (Omnivore > .50
    AND liked_taste > 
        (
            SELECT AVG(liked_taste)
            FROM positive_reactions
        )
    AND texture_like_meat >= 
      (
          SELECT AVG(texture_like_meat)
          FROM positive_reactions
      ))
ORDER BY liked_taste, texture_like_meat;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
3 rows affected.

[('African American', '.66', '.52', '.39', 0.52, 0.36),
 ('Women', '.73', '.54', '.36', 0.52, 0.36),
 ('White', '.67', '.54', '.36', 0.52, 0.36)]

Findings: African American people, Women, and White people are mostly omnivores and enjoy the taste and texture of the Impossible meat products. 

Recommendation: Ensure that follow up questionnaires sent to these three demographic categories of people from survey have questions related to WHY they liked the taste and texture, and what we can improve. Also, we should target these markets (if possible) for free samples or position these products next to meat (in stores) in areas where these demographics are high.

------

Primary Question: How can we make Impossible Foods 'meat' products better? Which target markets should we work with to improve our product?
    
Reasoning: Impossible Foods needs to expand its customer base to increase its yearly revenue in the U.S.. To do this, we are using our sample survey to inform our current product status (who likes it, who does not, etc.), and send out follow up questions for the survey takers to help us improve our products. We need to know which markets have the possibility of converting to our product if we adjust the current burger flavors.

In [122]:
%%sql
SELECT 
    Demographics,
    did_not_like_taste,
    did_not_taste_like_meat,
    CASE
        WHEN did_not_like_taste > 
        (
            SELECT AVG(did_not_like_taste)
            FROM negative_reactions
        ) THEN 'MORE THAN avg'
        ELSE 'LESS THAN avg'
    END AS disliked_taste_compared_to_avg,
    CASE
        WHEN did_not_taste_like_meat > 
        (
            SELECT AVG(did_not_taste_like_meat)
            FROM negative_reactions
        ) THEN 'MORE THAN avg'
        ELSE 'LESS THAN avg'
    END AS not_taste_like_meat_compared_to_avg
FROM negative_reactions;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
15 rows affected.

[('Total', '.19', '.20', 'LESS THAN avg', 'MORE THAN avg'),
 ('Men', '.19', '.21', 'LESS THAN avg', 'MORE THAN avg'),
 ('Women', '.20', '.19', 'MORE THAN avg', 'LESS THAN avg'),
 ('White', '.20', '.21', 'MORE THAN avg', 'MORE THAN avg'),
 ('African American', '.19', '.16', 'LESS THAN avg', 'LESS THAN avg'),
 ('Hispanic/ Latinx', '.15', '.20', 'LESS THAN avg', 'MORE THAN avg'),
 ('Under 45', '.19', '.23', 'LESS THAN avg', 'MORE THAN avg'),
 ('45-64', '.22', '.15', 'MORE THAN avg', 'LESS THAN avg'),
 ('65+', '.17', '.19', 'LESS THAN avg', 'LESS THAN avg'),
 ('Northeast', '.17', '.21', 'LESS THAN avg', 'MORE THAN avg'),
 ('Midwest', '.26', '.22', 'MORE THAN avg', 'MORE THAN avg'),
 ('South', '.17', '.18', 'LESS THAN avg', 'LESS THAN avg'),
 ('West', '.18', '.20', 'LESS THAN avg', 'MORE THAN avg'),
 ('Non-college', '.20', '.19', 'MORE THAN avg', 'LESS THAN avg'),
 ('College', '.19', '.21', 'LESS THAN avg', 'MORE THAN avg')]

In [123]:
%%sql
CREATE OR REPLACE VIEW disliked_taste_texture_view AS 
    SELECT 
        Demographics,
        did_not_like_taste,
        did_not_taste_like_meat,
        CASE
            WHEN did_not_like_taste > 
            (
                SELECT AVG(did_not_like_taste)
                FROM negative_reactions
            ) THEN 'MORE THAN avg'
            ELSE 'LESS THAN avg'
        END AS disliked_taste_compared_to_avg,
        CASE
            WHEN did_not_taste_like_meat > 
            (
                SELECT AVG(did_not_taste_like_meat)
                FROM negative_reactions
            ) THEN 'MORE THAN avg'
            ELSE 'LESS THAN avg'
        END AS not_taste_like_meat_compared_to_avg
    FROM negative_reactions;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
0 rows affected.

[]

In [127]:
%%sql
SELECT *
FROM disliked_taste_texture_view
ORDER BY did_not_like_taste DESC, did_not_taste_like_meat DESC;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
15 rows affected.

[('Midwest', '.26', '.22', 'MORE THAN avg', 'MORE THAN avg'),
 ('45-64', '.22', '.15', 'MORE THAN avg', 'LESS THAN avg'),
 ('White', '.20', '.21', 'MORE THAN avg', 'MORE THAN avg'),
 ('Women', '.20', '.19', 'MORE THAN avg', 'LESS THAN avg'),
 ('Non-college', '.20', '.19', 'MORE THAN avg', 'LESS THAN avg'),
 ('Under 45', '.19', '.23', 'LESS THAN avg', 'MORE THAN avg'),
 ('Men', '.19', '.21', 'LESS THAN avg', 'MORE THAN avg'),
 ('College', '.19', '.21', 'LESS THAN avg', 'MORE THAN avg'),
 ('Total', '.19', '.20', 'LESS THAN avg', 'MORE THAN avg'),
 ('African American', '.19', '.16', 'LESS THAN avg', 'LESS THAN avg'),
 ('West', '.18', '.20', 'LESS THAN avg', 'MORE THAN avg'),
 ('Northeast', '.17', '.21', 'LESS THAN avg', 'MORE THAN avg'),
 ('65+', '.17', '.19', 'LESS THAN avg', 'LESS THAN avg'),
 ('South', '.17', '.18', 'LESS THAN avg', 'LESS THAN avg'),
 ('Hispanic/ Latinx', '.15', '.20', 'LESS THAN avg', 'MORE THAN avg')]

In [143]:
%%sql
SELECT Demographics,
    COUNT(CASE WHEN did_not_like_taste >= .23 THEN 1 END) AS '[.23 - .26]',
    COUNT(CASE WHEN did_not_like_taste >= .20 AND did_not_like_taste <.23 THEN 1 END) AS '[.20 - .22]',
    COUNT(CASE WHEN did_not_like_taste >= .17 AND did_not_like_taste <.20 THEN 1 END) AS '[.17 - .19]',
    COUNT(CASE WHEN did_not_like_taste >= .14 AND did_not_like_taste <.17 THEN 1 END) AS '[.14 - .16]'
FROM disliked_taste_texture_view;

 * mysql://admin:***@impossible-foods.chicokyriyrg.us-east-2.rds.amazonaws.com:3306/impossible_foods
1 rows affected.

[('Total', 1, 4, 9, 1)]

Findings: Midwesterners, 45-64 year olds, and White people dislike the taste of our product, and believed it to be not close to the flavor of meat, more than the average for both categories. The binning query also proved to us that a majority of the populations surveyed had between 17% to 19% of their population that did not enjoy the flavor of the meat; this shows us that our current burgers do satisfy a majority of customers in the flavor department, so we do not necessarily need to completely change our current patty, but we may want to expand to new patty types.

Recommendation: Focus on these demographics to help us improve the flavor and the meatiness of our current burgers. We can use these recommendations to create slider burger pattys, and re-test these burgers towards these specific demographics specifically (to see if they like the burgers more).

In [144]:
# side note: the binning that I did already grouped everything I needed, so I hope this satisfies the GROUP BY requirement